html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.ui-container {
    width:100%;
    height:100%;
    position:absolute;
    z-index:5;
    pointer-events: none;
}


.basic-panel {
    pointer-events: all;
    width: 260px;
}